* {
    margin: 2.5%;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background: url(IMG/IMAGEN_N°6.jpeg);
    color: black;
    text-align: center;
}

header {
    background-color: white;
    padding: 20px;
}

h1 {
    font-family: 'Times New Roman', serif;
    font-size: 3rem;
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
    display: flex;
    justify-content: center;
    
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    font-size: 1.2rem;
    color: #333;
    transition: color 0.3s ease;
}

nav ul li a:hover,
nav ul li a.active {
    color: #0056b3;
    border-bottom: 2px solid #0056b3;
}
.articulo {
    text-align: center;
    padding: 10px;
}

.imagen-principal {
    width: 100%;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

h2 {
    font-family: 'Times New Roman', serif;
    color: black;
    font-size: 2rem;
    margin: 10px ;
}

.fecha {
    font-size: 0.9rem;
    color: gray;
}
article {
    padding: 10px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 10px;
}

.imagen-cafe {
    width: 150px;
    height: 150px;
    margin-right: 20px;
}
article p {
    flex: 1;
    margin-left: 20px;
}

/*PIE DE DE PAGINA REDES*/

footer {
    background-color: #333;
    padding: 20px 0;
    color: white;
    text-align: center;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
}

.social-icons {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.social-icons li {
    margin: 0 15px;
}

.social-icons li a {
    text-decoration: none;
}

.social-icons li a img {
    width: 40px;
    height: 40px;
    transition: transform 0.3s;
}

.social-icons li a img:hover {
    transform: scale(1.1);
}
