body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f5f5f5;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 5px;
    width: 80vw;
    height: 60vh;
    border: 2px solid black;
}

.grid-container div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.uno {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    background-color: green;
}

.dos {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    background-color: green;
}

.tres {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
    background-color: red;
}

.cuatro {
    grid-column: 4 / 5;
    grid-row: 2 / 4;
    background-color: green;
}

.cinco {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: orange;
}

.seis {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    background-color: orange;
}

.siete {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    background-color: red;
}

.ocho {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    background-color: red;
}
